.noselect {

}

div.sidebar {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 400px;
}

div.sidebar-menubar {
    display: inline-block;
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    height: 2em;
    line-height: 2em;
    background-color: #333;
    color:white;
}

div.sidebar-container {
    display: inline-block;
    color:#eee;
    position: absolute;
    left:0px;
    width:400px;
    top:2em;
    bottom: 0px;
    background-color: black;
}

div.sidebar-resizer {
    display: inline-block;
    background-color:#345;
    cursor: ew-resize;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 6px;
}

div.sidebar-body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: inline-block;
    color:#eee;
    position: absolute;
    left:0px;
    right:6px;
    top:0px;
    bottom: 0px;
    background-color: black;
}

div.sidebar-label {
    cursor: default;
}

div.sidebar-label > span.sidebar-arrow.sidebar-expandable {
    cursor: hand;
}

div.sidebar-list {
    display: inline-block;
    margin-left: 1em;
}

div.sidebar-label > span.sidebar-arrow {
    display: inline-block;
    width: 20px;
}

div.sidebar-selected {
    background-color:#033;
}

svg.icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

svg.icon path {
    stroke: #eee;
    fill: #eee;
    stroke-miterlimit: 11;
    stroke-linecap: round;
}
